{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->
<div class="banner-1">
    <div class="cover-1">
        {% if images%}
        <h2>Found {{ images|length}} images for searched term {{message}}</h2>
        {% else %}
        <h2>Found 0 images for the search term {{message}}</h2>
        {% endif %}
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_image' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                  <br>
                 </div>
                 <small>Trending searches: Culture,Fashion, travel</small>
              </form>
        </div>
    </div>
</div>
{% endblock %}