
.header{
    /* background-image: url(/static/image/image-one.jpg); */
    padding-top:2%;
    background-repeat:no-repeat;
    position: relative;
    background-size:cover;
    height: 300px;

}

small{
    font-weight: 600;
    font-size: small;
}

h2{
    font-size: 30px;
    line-height: 1;
    margin: 0 auto;
    font-family: 'Yesteryear', cursive, serif;
    color: blue;
}

#bodyimage{
    background-image: url(/static/image/calm.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h3{
    font-family: 'Yesteryear', cursive, serif;
    font-size: x-large;
    color: white;
    font-weight: 600;
}

img{
    margin-top: 50px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:  6px;
    float: left;
    width: 20.9999%;
    margin: 6px ;
    cursor: pointer;
}
  
  @media only screen and (max-width: 700px){
    img {
      width: 80%px;
      height: 80px;
    }
  }

p{
    font-size: large;
    font-weight: 600;
    color: black;
    font-family: 'Architects Daughter', cursive;
}

#btn1{
    color: black;
}