
div.container.navigation{
    height: 62px;
}

.header{
    background-image: url(/static/image/image-one.jpg);
    padding-top:2%;
    background-repeat:no-repeat;
    position: relative;
    background-size:cover;
    height: 300px;

}

small{
    font-weight: 600;
    font-size: small;
}

h2{
    font-size: 30px;
    line-height: 1;
    margin: 0 auto;
    font-family: 'Yesteryear', cursive, serif;
    color: blue;
}

body{
    background-color: honeydew;
}

h4{
    font-family: 'Architects Daughter', cursive;
    font-size: small;
    color: black;
}

img{
    margin-top: 50px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:  6px;
    float: left;
    width: 20.9999%;
    margin: 6px ;
    cursor: pointer;
}
  
  @media only screen and (max-width: 500px){
    img {
      width: 100%;
    }
  }

p{
    font-size: large;
    font-weight: 400;
    color: black;
}